<section class="page-not-found back-light">

    <div class="container">

        <div class="row">

            <div class="col-md-5 code">
                <h1>404</h1>
            </div>

            <div class="col-md-7 text">

                <div class="heading">
                    <h2>{{ "_PAGE_NOT_FOUND" | translate }}</h2>
                    <p>{{ "_PAGE_NOT_FOUND_DESC" | translate }}</p>
                </div>

                <div class="casino-btn">
                    <a routerLink="/" class="btn-4 yellow-btn">{{ "_BACK_TO_HOME" | translate }}</a>
                </div>

            </div>

        </div>

    </div>

</section>