<section id="project-img" class="project-img back-light section">
    <div class="container">

        <!-- Title -->

        <div class="row justify-content-center text-center">
            <div class="col-lg-6">
                <div class="heading">
                    <h2 *ngIf="title">{{ title | translate }}</h2>
                    <img src="assets/images/heading-border-effect.png" class="img-fluid" alt="effect">
                </div>
            </div>
        </div>

        <!-- Title End -->

        <!-- Category bar -->

        <div class="row justify-content-center text-center pro-row">
            <div class="col-lg-9 m-auto col-12 text-center button-group">
                <ul class="nav nav-pills" id="pills-tab" role="tablist">
                    <li *ngFor="let category of gameCategories" (click)="clickCategory(category)">
                        <a class="nav-menu active" id="pills-all-tab" data-toggle="pill" href="#pills-all" role="tab"
                            aria-controls="pills-all" aria-selected="true" [style.color]="category.selected ? '#f7ad07' : '#fff'">
                            {{ category.title | translate }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Category bar End -->

        <!-- Game cards -->

        <div class="row mx-0">
            <div class="col-lg-12 px-0">
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-all" role="tabpanel"
                        aria-labelledby="pills-all-tab">
                        <div class="row mx-0">
                            <ng-container *ngIf="games; else loading">
                                <ng-container *ngIf="games.length > 0; else empty">
                                    <div *ngFor="let game of games" class="col-md-4">
                                        <game-card [game]="game"></game-card>
                                    </div>
                                </ng-container>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="browserAll" class="row justify-content-center text-center">
            <div class="col-md-12">
                <div class="casino-btn start-btn">
                    <a (click)="clickBrowseAll()" class="btn-4 yellow-btn">{{ "_BROWSE_ALL" | translate }}</a>
                </div>
            </div>
        </div>

        <!-- Game cards End -->

    </div>

</section>

<ng-template #loading>
    <div class="col-12 text-center text-light">

    </div>
</ng-template>

<ng-template #empty>
    <div class="col-12 text-center text-light pb-4">
        <h3>{{ "_NO_GAMES_FOUND" | translate | uppercase }}</h3>
    </div>
</ng-template>